extends partials/layout.pug
block metatags
  title= title
  meta(name="description", content=description)
block content
  main.todo
    h1.todo__title=title
    header.todo__header
      input(type="text", class="todo__input", id="todo-input" placeholder="What needs to be done?")
    
    ul.todo__list#todo-list
      

    footer.todo__footer.is-hidden#footer
      p.todo__left 3 items left
      div.todo__filter
        button.todo__filter__btn.todo__filter__btn--active#all All
        button.todo__filter__btn#active Active
        button.todo__filter__btn#completed Completed
