<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block metatags
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,500")
    link(rel="stylesheet", href="./style.css")
  body
    block content
    
    script(src="/reload/reload.js")
    script(src="./script.js")
